body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: rgb(230, 26, 59);
    background: linear-gradient(90deg, rgba(230, 26, 59, 1) 0%, rgba(77, 77, 203, 1) 74%, rgba(63, 100, 195, 1) 100%);
    color: #fff;
    padding: 1rem 0 0 0;
    text-align: center;
}

nav {
    background: rgb(230, 26, 59);
    background: linear-gradient(90deg, rgba(230, 26, 59, 1) 0%, rgba(77, 77, 203, 1) 74%, rgba(63, 100, 195, 1) 100%);
    box-shadow: 0px 0.4rem 0.3rem rgba(0, 0, 0, 0.3);
}


nav a:hover {
    text-decoration: underline;
}

.navbar-toggler{
    border-color: white!important;
    border-width: 2px!important;
    height: 2rem!important;
    color: white!important;
}


section {
    padding: 2rem;
    margin: 1rem 1.4rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #160568;
    font-size: 2rem;
    position: sticky;
    top: 3.5rem;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,0) 100%);
    z-index: 900;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

sup {
    text-transform: none;
  }

.flashy-button {
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: #ff6347;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    animation: flash 1s infinite alternate, sizePulse 2s infinite;
    text-transform: uppercase;
}

@keyframes flash {
    0% {
        background-color: #ff6347;
    }

    50% {
        background-color: #ff4500;
    }

    100% {
        background-color: #ff6347;
    }
}

@keyframes sizePulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.highlight {
    color: #e74c3c;
    font-weight: bold;
}

h1 {
    font-family: 'Arial', sans-serif;
    /* Vous pouvez remplacer par votre police préférée */
    font-size: 3em;
    /* Taille du titre */
    color: #fff;
    /* Couleur du texte */
    text-align: center;
    /* Centrer le titre */
    margin-top: 20px;
    /* Espace au-dessus du titre */
    margin-bottom: 10px;
    /* Espace en dessous du titre */
    text-transform: uppercase;
    /* Transformer le texte en majuscules */
    letter-spacing: 2px;
    /* Espacement entre les lettres */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Ombre du texte */
    border-bottom: 2px solid #e74c3c;
    /* Bordure en bas du titre */
    display: inline-block;
    /* Pour ajuster la bordure à la largeur du texte */
    padding-bottom: 15px;
    /* Espacement entre le texte et la bordure */
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.sep-formats {
    color:#f00d0dd4;
}

p {
    font-size: 1.1rem;
}

#carouselPhotosClub img {
    max-height: 40em;
    max-width: 50em;
    object-fit: cover;
    margin:auto;
}

.accordion-header button{
    font-weight: bold !important;
}

section {
    word-break: break-word;
}